.App {
    min-height: 100vh;
    background-color: #282c37;
}

.card {
    background-color: #1f232c;
    color: white;
    /* box-shadow: 5px 5px bisque; */
}

.image:hover +.card-hover{
    display: block;
}