@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

::-webkit-scrollbar{
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 5px;
}
::-webkit-scrollbar-thumb {

  background-color: antiquewhite;
  border-radius: 5px;
} 